.nav{
    grid-area: nav;
    background-color: rgba(65, 65, 129, 0.808);
    padding: 45px;
    font-size: 20px;
  }
.navLink {
  color: white;
  text-decoration: none;
}

.activeLink {
    color: rgba(0, 0, 0, 0.388);
  }